/* importing a font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* apply the imported font to every single HTML element with the * selector */
* {
    font-family: 'Josefin Sans', sans-serif;
}

/* change the websites background color and remove the default margin applied in browser */
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

/* NAVBAR CSS */
/* use flexbox to position the child elements in the nav tag */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 118px;
}

#navbarLogo {
    width: 129px;
}

/* generic link style added to all a tags in the nav bar */
#navbarLinks a {
    color: #1D1D1D;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 17px;
    letter-spacing: 2px;
}

/* Hamburger menu in the navbar is hidden until the screen is too small */
#hamburger {
    display: none;
}

#hamburger div {
    height: 1px;
    width: 25px;
    background-color: black;
    margin: 6px 0;
}

/* Media query to trigger the hamburger appearing and hiding the a tags */
@media (max-width: 1230px) {

    nav {
        padding: 8px 40px;
    }

    #navbarLogo {
        width: 80px;
    }

    /* display none hide the element and all child elements, display block is the default value for elements */
    #navbarLinks {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

#upsidedown2 {
    background-image: url(./images/pixarbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 142px ;
    box-sizing: border-box;
    width: 100vw;
    
}

#insideout2 {
    width: 100%;
}

#rowofpics{
  display: flex;
  justify-content: space-between;
  width: 100%;     
  padding: 150px 140px;
  box-sizing: border-box;

}

.threephoto{
    width: 100%;
    
}
    
#rowofpics div{
    width: 33.3%;
    margin: 0;
    box-sizing:border-box;
    padding: 15px;
}

p{
    text-align: center;
    padding-top: 10px;
}


/* FOOTER */

footer .footer-items {
    text-align: center;
    margin-top: 150px;
}

.footer-items i {
    color: black;
    font-size: 27px;
}

.footer-items img {
    width: 24px;
}

.footer-items a {
    font-size: 14px;
    letter-spacing: 3px;
}

.footer-items h4 {
    letter-spacing: 2px;
}










/* #links{
   display: flex;
   justify-content: center;

} 


.blacklinks{
    width: 100%;
    
}
    
#links div{
    width: 25%;
    margin: 0;
    box-sizing:border-box;
    padding: 15px;
} */
