/* importing a font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* apply the imported font to every single HTML element with the * selector */
* {
    font-family: 'Josefin Sans', sans-serif;
}

/* change the websites background color and remove the default margin applied in browser */
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    width: 100vw;
    overflow-x:hidden;
}

/* NAVBAR CSS */
/* use flexbox to position the child elements in the nav tag */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 118px;
}

#navbarLogo {
    width: 129px;
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 17px;
    letter-spacing: 2px;
}

/* generic link style added to all a tags in the nav bar */
#navbarLinks > a, .navItem > a {
    color: #1D1D1D;
}

/* Hamburger menu in the navbar is hidden until the screen is too small */
#hamburger {
    display: none;
}

#hamburger div {
    height: 1px;
    width: 25px;
    background-color: black;
    margin: 6px 0;
}


/* Dropdown section */

.navItem {
    display: inline-block;
    position: relative;
}

.dropdownLinks {
    background-color: rgb(0, 0, 0);
    position: absolute;
    padding: 10px;
    opacity: 0;
    top: 30px;
    left: 2000px;
    transition: top 0.3s, opacity 0.3s, left 0s;
}

.dropdownLinks a {
    color: white;
    display: block;
    white-space: nowrap;
    margin: 5px;
}

.navItem:hover .dropdownLinks {
    opacity: 1;
    top: 100%;
    left: 0;
}


/* Media query to trigger the hamburger appearing and hiding the a tags */
@media (max-width: 1230px) {

    nav {
        padding: 8px 40px;
    }

    #navbarLogo {
        width: 80px;
    }

    /* display none hide the element and all child elements, display block is the default value for elements */
    #navbarLinks {
        display: none;
    }

    #hamburger {
        display: block;
    }
}

#upsidedown2 {
    background-image: url(./images/pixarbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 142px ;
    box-sizing: border-box;
    width: 100vw;
    
}

#insideout2 {
    width: 100%;
}

#rowofpics{
  display: flex;
  justify-content: space-between;
  width: 100%;     
  padding: 150px 140px;
  box-sizing: border-box;

}

.threephoto{
    width: 100%;
    
}
    
#rowofpics div{
    width: 33.3%;
    margin: 0;
    box-sizing:border-box;
    padding: 15px;
}

p{
    text-align: center;
    padding-top: 10px;
}


/* FOOTER */

footer .footer-items {
    text-align: center;
    margin-top: 15px;
}

.footer-items i {
    font-size: 27px;
}

.footer-items img {
    padding-bottom: 40px;
    width: 24px;
}

.footer-items a {
    color: black;
    font-size: 14px;
    letter-spacing: 3px;
}

.footer-items h4 {
    letter-spacing: 2px;
}

footer {
    padding-bottom: 20px;
}


.bottombox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

}

.box {

    background-color: #e9e9ed;
    padding: 15px;
    text-align: center;
    border: 2px solid #68b631;
    color: #68b631;
    
}

